@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');

body {
  background: #f4f0f3;
  background: -webkit-linear-gradient(left, #f4f0f3, #eaf3f7);
  background: -moz-linear-gradient(left, #f4f0f3, #eaf3f7);
  background: -ms-linear-gradient(left, #f4f0f3, #eaf3f7);
  background: -o-linear-gradient(left, #f4f0f3, #eaf3f7);
  background: linear-gradient(to right, #f4f0f3, #eaf3f7);
  font-family: 'Mulish', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.event-sec {
  background: #fff;
  margin: 50px auto;
  border: 1px #eee solid;
  width: 700px !important;
  box-shadow: 1px 0px 8px 2px rgba(62, 118, 244, 0.14);
  border-radius: 5px;
  padding: 0px !important;
}

.event-sec canvas {
  float: left;
  border-radius: 50%;
  margin-right: 20px;
}

.event-title-sec {
  display: inline;
}

.event-title-sec .title {
  display: inline;
  font-size: 14px;
  font-weight: 400;
}

.event-title-sec .date {
  font-size: 12px;
  font-weight: 400;
  color: #24292e;
}

.event-title-sec p {
  margin-top: 5px;
}

.event-title-sec p span{
  margin-left: 10px;
  display: none;
}